<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p><h2 style="text-decoration: underline;"> INITIATIVE BY @AAD </h2></p>
    <div class="container"></div>
    <h4>CONTACT DETAILS</h4> 
    <p> 
    <div class="d-flex"></div>
      <ul class="list-unstyled">
        <li><h5 >EMAIL: <a href="https://mail.google.com" class="text-muted"> </h5 ><p style="text-decoration: blueviolet;">ADORABLY2017@gmail.com</p></a></li>
        <li><h5>WHATSAPP: </h5><a href="https://web.whatsapp.com" class="text-muted" ></a><p>+91 9667498340</p></a></li>
      </ul>
    </p>
    
    </div>
  </div> 
</footer>
