        <main role="main">
  
        <section class="jumbotron text-center">
          <div class="container">
            <h1 class="jumbotron-heading display-4 text-white">ONLINE SHOPPING HELP</h1><br>
            <p class="lead text-white"><span class="item0">   We are a community, looking to improve your online Shoping experience on </span></p><p class="lead text-white"><span class="item0">   E-Commerce Websites by providing you the right items at good price   </span></p>
            <p>
              <a tabindex="0" href="https://www.amazon.in" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus" title="AMAZON" >AMAZON</a>
            </p>
          </div>
        </section>
  
        
  
      </main>
  