<div class="container my-2">
  <h1 class="h1 text-center"><span class="item0">MAKE REQUEST </span></h1>
  

  <form action="/api/request" method="POST">
    <div class="form-group">
      <label for="request_name">Item Name</label>
      <input type="text" class="form-control form-control-lg" name="request_name" id="request_name" placeholder="Enter name of the item you want" rows="3"></input>
    </div>
    <div class="form-group">
      <label for="item_description">Item Description</label>
    <textarea class="form-control form-control-sm" name="request_description" id="request_description" placeholder="Enter description like Seller Name and Price.Also if you want, you can describe properties like color, size, material as per the item."rows="6"></textarea>
    </div>
    <div class="form-group">
      <label for="request_contact">Your contact information</label>
      <input type="text" class="form-control form-control-lg" name="request_contact" id="request_contact" placeholder="Either provide Whatsapp No. or Email-ID" rows="4"></input>
    </div>
    <button type="submit" id="write-btn" class="btn btn-primary">Submit</button>
  </form>
</div>
<script src='../app/make-req.js'></script>