<!--Navbar-->
<nav class="navbar navbar-expand-sm navbar-light lighten-4 ml-auto">

  <!-- Navbar brand -->
 <div class="container">
    <a class="navbar-brand" href="/">ONLINE SHOPPING</a>

    <button class="navbar-toggler" data-toggle="collapse" data-target="#menu">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="menu">
  
    <ul class="navbar-nav text-center ml-auto">
       <li class="nav-item active">
          <a class="nav-link" href="#" data-component="all-item">ALL ITEMS</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" data-component="add-item">ADD ITEMS</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" data-component="show-req">SHOW REQUESTS</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" data-component="make-req">MAKE REQUEST</a>
       </li>

     </ul>

  </div>
 </div>
</nav>
<script src="/app/navbar.js"></script>