<nav class="navbar navbar-expand-lg navbar-light ">
  <a class="navbar-brand" href="#"> ONLINE SHOPPING HELP</a>
  <div class="collapse navbar-collapse " id="navbarNav">
    <div class="d-flex ml-auto ">
      <ul class="navbar-nav">
       <li class="nav-item active">
          <a class="nav-link" href="#" data-component="all-item">
            Home
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#" data-component="add-item">
            Add Item
          </a>
        </li>
     
      </ul>
    </div>
  </div> 
</nav>

<script src="/app/navbar.js"></script>